
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>幸福翼·您的专属私人邮票定制商店</h1>
                        <h3 class="banner-text">人们总是太匆匆，却忘了幸福本来的样子</h3>

                        <div>
                            <p class="banner-text">
                                把那些珍贵的过去，化作一张小小的邮票
                            </p>
                            <p class="banner-text">
                                邮寄给你最珍爱的人
                            </p>
                            <p class="banner-text">
                                分享一份纪念，收获一份感动
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">全球唯一用个性图案作为邮票主画面的纪念品</h2>
                    <p class="lead">
                      <ul>
                        <li>不丹国家邮政总局正式授权</li>
                        <li>所有定制邮票统一由不丹国家邮政总局印刷编号</li>
                        <li>邮票可从不丹境内寄往全球</li>

                      </ul>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://ws4.sinaimg.cn/large/006tNbRwgy1ffz4idvgy3j30dw0dwjta.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">私人邮票定制</h2>
                    <p class="lead">
                      <ul>
                        <li>一版12枚，整张规格 282 mm x 195 mm </li>
                        <li>防伪红蓝纤维纸</li>

                        <li>定制主题：全家福/结婚照/自拍照/宝宝萌照/企业活动/明星偶像/风景名胜/动漫形象/宠物/个性图案/座右铭/企业LOGO/活动留念/世界名画/宗教民俗/精彩瞬间……</li>

                      </ul>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://ws3.sinaimg.cn/large/006tNbRwgy1ffz4hyh84bj30dw0dwdjy.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">定制流程</h2>
                    <p class="lead">
                      <ul>
                        <li>拍下商品，生成订单 </li>
                        <li>打包上传您要定制的图案照片，要求最低宽800像素</li>
                        <li>照片发往不丹进行印刷</li>
                        <li>制作周期15-20工作日</li>
                      </ul></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://ws4.sinaimg.cn/large/006tNbRwgy1ffz4gtod96j30dw0dwdhe.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
